.App {
  width: 1200px;
  height: 100vh;
  background-color: blueviolet;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "h h"
  "n m"
  ;

}
.header {
  grid-area: h;
  background-color: brown;
}
.Navbar {
  grid-area: n;
  background-color: coral;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Main {
  grid-area: m;
  background-color: darkcyan;
}

